<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="about-wrapper container">
        <div class="about-text">
            <h1>  <p class="small">About Us</p></h1>
          <h2>KIZHAKKEDATHU RESTAURANT...
              We've been making healthy food last for 10 years</h2>
          <p>We deliver healthy and delicious food

          </p>
        </div>
        <div class="about-img">
          <img src="https://i.postimg.cc/mgpwzmx9/about-photo.jpg" alt="food" />
        </div>
      </div>

</body>
</html>